<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-plugin-cardflight" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Card Flight</name>
  <description>Cordova Card Flight Plugin</description>
  <license>MIT</license>
  <keywords>cordova,creditcard,cc,cardflight</keywords>
  <repo></repo>

  <js-module src="www/cardFlight.js" name="cardFlight">
    <clobbers target="cardFlight" />
    <clobbers target="cordova.cardFlight" />
  </js-module>


  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CDVCardFlight">
        <param name="ios-package" value="CDVCardFlight"/>
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
      <string>To detect CardFlight's attached reader</string>
    </config-file>

    <header-file src="src/ios/CDVCardFlight.h" />
    <source-file src="src/ios/CDVCardFlight.m" />

    <header-file src="src/ios/CardFlightSDK/CardFlight.h" />
    <header-file src="src/ios/CardFlightSDK/CFTAttacheReader.h" />
    <header-file src="src/ios/CardFlightSDK/CFTBaseReader.h" />
    <header-file src="src/ios/CardFlightSDK/CFTCustomEntryTextField.h" />
    <header-file src="src/ios/CardFlightSDK/CFTCustomView.h" />
    <header-file src="src/ios/CardFlightSDK/CFTEnum.h" />
    <header-file src="src/ios/CardFlightSDK/CFTPaymentView.h" />
    <header-file src="src/ios/CardFlightSDK/CFTSessionManager.h" />
    <header-file src="src/ios/CardFlightSDK/CFTReader.h" />
    <header-file src="src/ios/CardFlightSDK/CFTCard.h" />
    <header-file src="src/ios/CardFlightSDK/CFTCharge.h" />
    <header-file src="src/ios/CardFlightSDK/CFTAPIResource.h" />
    <framework src="AVFoundation.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="MessageUI.framework" />
    <framework src="ExternalAccessory.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="libstdc++.6.0.9.dylib"/>
    <source-file src="src/ios/CardFlightSDK/libCardFlightLibrary.a" framework="true" />
  </platform>
</plugin>
